* {
  /*
    Property name
    Property description
  */
    /* Property example with a value */
  }


KEYWORD
Content-box
/* This is used to create box which is used to wrap the content of the HTML element. */
.content-box {
  width: 150px;
  height: 125px;
}


Padding-box
/*This is used to create a box which is follow after the content-box, I mean the padding-box wraps the content-box. */
.padding-box {
  width: 25px;
  height: 25px;
}


Border-box
/*This sets a box to form a border like a border with picture and also give a decoration to the HTML element. */
.border-box {
  width: 10px;
  height: 10px;
}


PROPERTIES
Border
/* This property is used to create a border to an HTML element. */
.border {
  margin: 4px, 4px, 4px, 4px;
}


Margin
/*This property is used to set the empty space at the side of a page or the margin according to the LDOCE 5 English dictionary. */
.margin {
  margin: 20px, 25px, 15px, 23px;
}

Padding
/* According to google padding property is used to generate space around an element's content, inside af any defined borders. */
.padding {
  padding: 15px, 20px, 21px, 18px;
}

Display
/* According to google display property sets an element's inner and outer display type. */
.display {
  display: block;
}


Box-sizing
/* This property is used to set the size of padding, border an content-box in an element. */
.box-sizing {
  box-sizing: content-box,
              border-box,
              padding-box;
}

/* When two differently sized margins of two different boxes collide, both would combine together and the one which has big margin take the space. */

/* Formula for working out an element visual width is left-border + left-padding + content-box + right-padding + right-border. */


/* Difference between display values inline, inline-block and block :
  According to google,
    1- Inline, we cannot put block element inside of inline element.

    2- Block, generates line breaks before and after an element.

    3- Inline-block: The element genarartes a block element box that will be flowed with surrounding content as if it were a single inline box (behaving much like a replaced element would).  */



html {
  font-size: x-large;
  text-align: center;
  background-color: skyblue;
  font-weight: 500;
}

header {
  font-family: serif;
  color: blue;
}

.essay {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: darkcyan;
}


a {
  font-family: cursive;
  color: darkmagenta;
}





