.container blockquote {
  width: 100%;
   box-sizing: border-box;
  width: calc(100% - (2 * ((var(--spacing-between) * 2) + var(--width-of-emoji))) - (2 * 2rem));
}

:root {
  --width-of-emoji: 4rem;
  --spacing-between: 1rem;
}
