html {
  border: 1px solid black;
  margin-block-start: 1rem;
}


section {
  display: table;
  table-layout: auto;
}


h2,
p {
  display: table-row;
}


h2 {
  display: table-cell;
  vertical-align: middle;
  text-align: end;
  min-width: 200px;
}


p {
  display: table-cell;
  padding-block-start: 1.3rem;
  padding-inline-start: 1rem;
  min-width: 400px;
}
