[data-example="4"] {
  display: flex;
  justify-content: center;
  align-items: center;
}


[data-example="5"] > .centred {
  transform: translateY(50%);
}

[data-example="6"] {
  height: 100%;
  display: grid;

}

[data-example="6"] > .centred {
  margin: auto;
}
