[data-example="4"] .centred {
  transform: translateY(50%);

}

[data-example="4"] {
  text-align: center;
}


[data-example="5"] > .centred {
  display: flex;
  justify-content: center;
  transform: translateY(50%);
}


[data-example="6"] > .centred {
  display: grid;
  justify-items: center;
  transform: translateY(50%);

}
