nav ol {
  padding: 16px 16px;
  list-style: none;
  background-color:lightgray;
  text-decoration: none;
  border: solid blue 2px;

}


nav ol li {
  display: inline;
  font-size: 16px;
}

nav li+li::before {
  padding: 16px;
  content: ">";
}

nav li a {
  color: darkblue;
  text-decoration: none;
}

nav li a:hover {
  color: black;
  text-decoration: underline;
}


nav span {
  display: none;
}


