.icon_left::before {
  position: absolute;
  content: "";
  background-image: url("../../12-page-mockup/images/icon-facebook.png");
  width: 1.5rem;
  height: 1.5rem;
  background-size: contain;
  border-radius: 50%;
  display: block;
  margin-right: 1rem;
  top: 50%;
  margin-top: -0.75rem;
  left: 0.75rem;
}



.icon_right::after {
  position: absolute;
  content: "";
  background-image: url("../../12-page-mockup/images/icon-facebook.png");
  width: 1.5rem;
  height: 1.5rem;
  background-size: contain;
  border-radius: 50%;
  display: block;
  top: 50%;
  margin-top: -0.75rem;
  right: 0.75rem;
}

a.icon {
  text-decoration: none;
  color: black;
  border: purple solid 2px;
  padding: 1rem;
  background-color: skyblue;
  font-size: 1rem;
  line-height: 1;
  text-transform: uppercase;
  border-radius: 7%;

}

a {
  display: inline-block;
}

a.icon_left {
  position: relative;
  padding-inline-start: 3rem;

}


a.icon_right {
  position: relative;
  padding-inline-end: 3rem;

}









