h3 a {
  text-decoration: none;
  color: black;
}

section * {
  text-align: center;
}

section p {
  font-size: smaller;
}

.post-1 {
  border: 0.7px solid black;
}

.post-1 small {
  font-size: x-small;
}

.post-2 {
  border: 0.7px solid black;
}

.post-2 small {
  font-size: x-small;
}

.older {
  text-align: right;
  text-transform: uppercase;
  margin-right: 3rem;
  color: black;
}




