/*
  We need the following numbering structure:

    1. Major clause `<h3>` separated by `<section>`s
      1.1. Clause (with a List) `<h4>` with a `<ol>` sibling
        a. List item `<li>`
        b. List item (with a List) `<li>` with a `<ol>` child
          i. Nested list item `<li>`
          ii. Nested list item `<li>`
          iii. Nested list item `<li>`
          iv. Nested list item `<li>`
          …
        c. List item `<li>`
        …
      1.2. Clause `<h4>`
      …
      1.13. Clause `<h4>`
    2. Major clause `<h3>` in a new `<section>`
    …
*/



body {
  counter-reset: section;
}

h3 {
  counter-reset: subsection;
}


h3::before {
  counter-increment: section;
  content: counter(section) ". ";
}


h4::before {
  counter-increment: subsection;
  content: counter(section) "." counter(subsection) ". ";
}

h4 {
  counter-reset: alphabeticList;
}

li::before {
  counter-increment: alphabeticList;
  content: counter(section) "." counter(subsection) ". " counter(alphabeticList, lower-alpha) ". ";
}

li {
  list-style: none;
}

li > ol li::before {
  counter-increment: roman-numeral;
  content: counter(section) "." counter(subsection) "." counter(alphabeticList, lower-alpha) "." counter(roman-numeral, lower-roman) ". ";
  list-style-type: lower-roman;
}


li ol li {
  list-style-type: lower-roman;
}
