.example h1{
  font-size: 2.5rem;
  font-weight: 800;
  margin-block-end: 1em;
}

.example h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-block-end: 1em;
}

.example h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-block-end: 1em;
}

.example h4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-block-end: 1em;
}

.example h5 {
  font-size: 1rem;
  font-weight: 700;
  margin-block-end: 1em;
}

.example h6 {
  font-size: 1rem;
  font-weight: 700;
  margin-block-end: 1em;
  font-variant-ligatures: small-caps;
}

.example .intro {
  font-size: 1.125rem;
  font-weight: 400;
  margin-block-end: 1em;
  letter-spacing: 0.1em;
}

.example p {
  font-size: 1rem;
  font-weight: 400;
  margin-block-end: 1em;
}

.example p small {
  font-size: 0.75rem;
  font-weight: 400;
  margin-block-end: 1em;
}


#section_sans_serif {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: italic;
}

#section_serif {
  font-family: 'Times New Roman', Times, serif;
  font-style: initial;
}

#section_monospace {
  font-family: 'Courier New', Courier, monospace;
  font-style: oblique;
}

#section_fantasy {
  font-family: fantasy;
  font-style: unset;
}

#section_cursive {
  font-family: cursive;
  font-style: initial;
}
