.dory > figure {
  background-image: url("../images/crab.png"), url("../images/bubble.png"), url("../images/coral-reef.png");
  background-color: lightsteelblue;
  background-image: linear-gradient(#ffffffff);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}



.henry > figure {
  background-image: url("../images/grass-clump.png"), url("../images/grass-left.png"), url("../images/sun.png");
  background-repeat: no-repeat;
  background-size: inherit;
  background-position: bottom left;
  background-image: linear-gradient();
}


.lu-seal > figure {
  background-image: url("../images/beach-ball.png"), url("../images/palm.png"), url("../images/palm-2.png");
  background-repeat: no-repeat;
  background-size: 30rem;
  background-position: top left;
  background-color: lavender;
}

