section:first-of-type .container {
  width: 202px;
  height: 202px;
  position: relative;
  z-index: 1;
}



section:first-of-type .container .circle {
  position: relative;
  top: 9.5rem;
  left: 9.4rem;
  width: 25%;
  height: 25%;`
}


 section:first-of-type .container .rect {
  position: relative;
  right: 3.5rem;
  width: 25%;
  height: 25%;
}


section:first-of-type .container .pipe {
  position: relative;
  top: 9.5rem;
  right: 6.8rem;
  width: 25%;
  height: 25%;
}


section:first-of-type .container .bar {
  position: relative;
  bottom: 3.5rem;
  left: 9.4rem;
  width: 25%;
  height: 25%;
}


